:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

@font-face {
  font-family: Outfit;
  src: url(./fonts/Outfit-VariableFont_wght.ttf) format("truetype-variations");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--light-gray);
  color: var(--grayish-blue);
  font-family: Outfit, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.19px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  max-width: 320px;
  text-align: center;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05);
  padding: 16px 16px 40px 16px;
}

.card__image {
  width: 100%;
  border-radius: 10px;
}

.card__heading {
  color: var(--dark-blue);
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  margin-top: 24px;
  margin-bottom: 16px;
}

.card__description {
  max-width: 256px;
  margin: auto;
}
